<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js" defer></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Under Construction</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
        </div>
      </div>
    </div>
<section class='form'>
    <form id="theForm" class="form">
      <input type='text' placeholder='Artist Name' name='name'>
      <input type='text' placeholder='Artist Location' name='Location'>
      <input type='text' placeholder='Top Album' name='topAlbum'>
      <input type='text' placeholder='Artist Age' name='age'>
      <button type='submit'>SUBMIT</button>
    </form>
  </section>
  <ul class="artistList" id="artistList">
    
  </ul>
    
  </section>
  </body>
</html>
